@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/vendor';
@import 'libs/breakpoints';
@import 'libs/html-grid';

/*
	Foton by arathemes
	arathemes.com | @muath_obeidat
	Free for personal and commercial use under the CCA 3.0 license (arathemes.com/license)
*/

/* Header */

	body.is-preload {
		#header {
			.inner {
				@include vendor('transform', 'none');
				opacity: 1;

				.actions {
					@include vendor('transform', 'none');
					opacity: 1;
				}
			}

			&:after {
				opacity: 0;
			}
		}
	}